@page
@using Newtonsoft.Json
@using Wordle.Service
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    // data-marker="@JsonConvert.SerializeObject(Model.KeyBoard.Letters[i])"
}

<div class="text-center">
   
    <div class="text-center">

        <div class="ctn-grid-word">
            @for (int i = 0 ; i < 6 ; i++)
        {
            <div class="rows-grid-word" aria-label="row-@i" id="row-grid-@i">
                @for (int j = 0 ; j < 5 ; j++)
                {
                    <div class="animation-card bg-dark" style="animation-delay : @j*100" >
                         <div class="letter-card" id="card-grid-@j"></div>
                     </div>
                }
             </div>
        }
        </div>
    
         <div class="keyboard">
             <dvi class="keyboard-row ">
                @for (int i = 0 ; i <=9 ; i++)
                {

                    <button type="button" class="btn-key-board" id="btn-key-board" onclick="SetCharacterInGril('@Model.KeyBoard.Letters[i].Character','@Model.KeyBoard.Letters[i].Status',0,'@Model.KeyBoard.Letters[i].GetType()')">
                    @Model.KeyBoard.Letters[i].Character
                </button>
                
                }

            </dvi>
        <dvi class="keyboard-row keyboard-row-mid">
                @for (int i = 10 ; i <= 18 ; i++)
                {
                    <button type="button" class="btn-key-board" id="btn-key-board" onclick="SetCharacterInGril('@Model.KeyBoard.Letters[i].Character','@Model.KeyBoard.Letters[i].Status',0,'@Model.KeyBoard.Letters[i].GetType()')">
                @Model.KeyBoard.Letters[i].Character 
                </button>


            }
            </dvi>
            <dvi class="keyboard-row ">
            @for (int i = 19 ; i < Model.KeyBoard.Letters.Count ; i++)
                {

                    <button type="button" class="btn-key-board" id="btn-key-board"  onclick="SetCharacterInGril('@Model.KeyBoard.Letters[i].Character','@Model.KeyBoard.Letters[i].Status',0,'@Model.KeyBoard.Letters[i].GetType()')">
                    @Model.KeyBoard.Letters[i].Character
                </button>
                }
            </dvi>
     

           
    </div>
    </div>

</div>
